* {
  box-sizing: border-box; }

html,
body {
  color: #4A4A4A;
  font-size: 10px;
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  line-height: 150%;
  height: 100%;
  overflow: hidden; }

div {
  height: 100%;
  margin: 0px !important;
  padding: 0px !important; }

h1 {
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 130%; }

p.subheader {
  font-weight: 400;
  font-size: 1.9rem; }

p.copyright {
  margin-top: 32px;
  text-align: center; }

span.highlight {
  font-weight: 500; }

div#info-wrapper {
  background-color: transparent; }
  div#info-wrapper div#info {
    width: 100%;
    background-color: transparent;
    padding: 30px !important; }
  div#info-wrapper div#gallery {
    height: auto; }
    div#info-wrapper div#gallery p {
      font-size: 1.4em; }
    div#info-wrapper div#gallery div {
      background-color: #E1E1E1; }
      div#info-wrapper div#gallery div img {
        width: 100%;
        height: auto; }

ul.social {
  list-style: none;
  padding: 0;
  margin-top: 16px;
  text-align: center; }
  ul.social a {
    color: #4A4A4A;
    text-decoration: none; }
    ul.social a:hover {
      color: #979797;
      text-decoration: none; }
  ul.social li {
    display: inline-block;
    cursor: pointer;
    color: #A1886B;
    border-bottom: 1px dotted;
    margin-right: 32px; }
    ul.social li:hover {
      color: #dcd3c9;
      text-decoration: none; }

div#photo {
  background-color: #1F1E1A;
  background-image: url("../img/profile.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 16px; }

#top,
#bottom,
#left,
#right {
  background: #201E1B;
  position: fixed; }

#left,
#right {
  top: 0;
  bottom: 0;
  width: 16px; }

#left {
  left: 0; }

#right {
  right: 0; }

#top,
#bottom {
  left: 0;
  right: 0;
  height: 16px; }

#top {
  top: 0; }

#bottom {
  bottom: 0; }

@media only screen and (max-width: 960px) {
  body {
    background-color: #1F1E1A; }
  * {
    color: #FFF; }
  #photo {
    display: none; }
  #info-wrapper {
    background-color: #1F1E1A; }
  #top,
  #bottom,
  #left,
  #right {
    background: #FFF; } }

@media only screen and (max-width: 446px) {
  body {
    background-color: #1F1E1A; }
  #gallery,
  #top,
  #bottom,
  #left,
  #right {
    display: none !important; }
  h1 {
    font-size: 2.6rem;
    line-height: 3rem; }
  p.subheader {
    font-size: 1.6rem; }
  ul.social a {
    cursor: pointer;
    color: #A1886B;
    text-decoration: none;
    border-bottom: none; }
    ul.social a:hover {
      color: #ff9999;
      text-decoration: none; }
  ul.social li {
    text-align: center;
    width: 100%;
    padding: 16px 8px;
    border: 1px solid;
    margin-bottom: 8px;
    display: block; } }
