body {
	color: #E1E1E1;
}

section {
	height: auto;
	padding: 16px 0px 32px;
	border-bottom: 1px dashed rgba(204, 204, 204, 0.23);
}

h1,
ul {
	padding: 0px;
	margin: 0px;
}

.section-header {
	font-size: 70px;
	text-align: center;
	padding: 8px 0px;
	margin-bottom: 32px;
	text-shadow: 1px 1px #16A085;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width:480px) {
	h1.section-header {
		font-size: 50px;
	}
}

.highlight {
	color: white;
	font-weight: 600;
	font-size: 14px;
}

a {
	color: #16A085;
}

a:hover {
	color: white;
}

/*######################################*/
#intro {
	background-color: #2F4254;
	padding-top: 64px;
}

#intro .info {
	text-align: right;
}

#intro .profile-image {
	text-align: left;
}

#intro .profile-image img {
	max-height: 250px;
}

ul#profile-link {
	margin: 64px auto;
	list-style: none;
	color: #111;
	text-align: center;
}

ul#profile-link li {
	display: inline;
	margin: 0px 16px;
}

ul#profile-link a {
	color: #D9D9D9;
	padding-bottom: 8px;
	border-bottom: 3px solid #D9D9D9;
}

ul#profile-link a:hover {
	color: #ACACAC;
	border-bottom: 3px solid #ACACAC;
}

/*######################################*/
#about-me {
	background-color: #34495E;
}

h3#about-name {
	padding-bottom: 5px;
	margin-right: 16px;
	border-bottom: 3px solid #E1E1E1;
}

ul.tags {
	list-style: none;
	line-height: 25px;
	border: 0px;
	font-size: 12px;
	margin: 8px 0px;
}

ul.tags li {
	display: inline;
	border-radius: 5px;
	background-color: #16A085;
	padding: 5px;
	text-align: center;
	margin-right: 2px;
	color: #FFFFFF;
	border: 0px;
}

ul.tags li a {
	color: white;
	text-decoration: underline;
}

ul.tags li a:hover {
	color: #0d5d4d;
}


/*######################################*/
#projects {
	background-color: #2F4254;
}

div.project-item {
	padding: 8px 0px;
	margin: 8px auto;
	background-color: rgba(204, 204, 204, 0.05);
	border-radius: 8px;
	text-align: center;
	max-width: 300px;
	height: 550px;
	min-height: 550px;
}

div.project-item h3 {
	border-bottom: 1px solid #16A085;
	width: 70%;
	margin: 8px auto;
}

div.project-item img {
	width: 200px;
	height: 200px;
	border-radius: 8px;
}

div.project-item p {
	text-align: left;
	padding: 8px;
	margin: 0px auto;
	overflow: hidden;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width:970px) {
	div.project-item {
		padding: 16px 8px;
	}
}

/*######################################*/
#skills {
	background-color: #34495E;
	text-align: center;
}

#skills div.skill {
	padding-top: 8px;
}

#skills div.skill i {
	color: #16A085;
	margin-bottom: 8px;
}

/*######################################*/
#contact {
	background-color: #2F4254;
	text-align: center;
	padding-top: 64px;
}

#contact .fa {
	color: #16A085;
}