* {
	box-sizing: border-box;
}

html,
body {
	color: #4A4A4A;
	font-size: 10px;
	font-family: Roboto, Helvetica, Arial, sans-serif !important;
	line-height: 150%;
	height: 100%;
	overflow: hidden;
}

div {
	height: 100%;
	margin: 0px !important;
	padding: 0px !important;
}

h1 {
	font-weight: 300;
	font-size: 3.6rem;	
	line-height: 130%;
	b {
		font-weight: 500;
	}
}

p {
	font-weight: 400;
	font-size: 2rem;
	s {
		color: #9B9B9B;
	}	
}

span.highlight {
	font-weight: 500;
}

div#info-wrapper {
	background-color: transparent;
	div {
		width: 100%;
		background-color: transparent;
		padding: 30px !important;
	}
}

ul.social {
	list-style: none;
	padding: 0;
	margin-top: 32px;
	text-align: center;
	a {
		text-decoration: none;
	}
	li {
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.12rem;
		font-size: 1.2rem;
		display: inline-block;
		line-height: 150%;
		cursor: pointer;
		color: #A1886B;
		border-bottom: 1px dotted;
		text-decoration: none;
		margin-right: 8px;
		&:hover {
			color: lighten(#A1886B, 15%);
			text-decoration: none;
		}
	}
}

div#photo {
	background-color: #1F1E1A;
	/*background-image: url('../img/photo.jpg');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#top,
#bottom,
#left,
#right {
	background: #201E1B;
	position: fixed;
}

#left,
#right {
	top: 0;
	bottom: 0;
	width: 15px;
}

#left {
	left: 0;
}

#right {
	right: 0;
}

#top,
#bottom {
	left: 0;
	right: 0;
	height: 15px;
}

#top {
	top: 0;
}

#bottom {
	bottom: 0;
}

//Media Queries
@media only screen and (max-width:960px) {
	body {
		background-color: #1F1E1A;
	}

	* {
		color: #FFF;
	}

	#photo {
		display: none;
	}

	#info-wrapper {
		background-color: #1F1E1A;
	}

	#top,
	#bottom,
	#left,
	#right {
		background: #FFF;
	}

}

@media only screen and (max-width:446px) {
	body {
		background-color: #1F1E1A;
	}

	#top,
	#bottom,
	#left,
	#right {
		display: none !important;
	}

	h1 {
		font-size: 2.6rem;
		line-height: 3rem;
	}
	p {
		font-size: 1.6rem;
	}

	ul.social {
		a {
			cursor: pointer;
			color: #A1886B;
			text-decoration: none;
			border-bottom: none;
			&:hover {
				color: lighten(#A1886B, 15%);
				text-decoration: none;
			}
		}
		li {
			text-align: center;
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 0.12rem;
			font-size: 1.2rem;
			width: 100%;
			padding: 15px 10px;
			border: 1px solid;
			margin-bottom: 8px;
			display: block;
		}
	}
}