body {
	color: #E1E1E1;
}

section {
	height: auto;
	padding: 16px 0px;
}

/*######################################*/

#intro {
	background-color: #2F4254;
}

h1#profile-name {
	font-size: 70px;
}

img#profile-image {
	margin-top: 64px;
	max-height: 350px;
}

ul#profile-link {
	margin: 64px 0px;
	list-style: none;
	color: #111;
}

ul#profile-link li {
	display: inline;
	margin-right: 32px;
}

ul#profile-link a {
	color: #D9D9D9;
	padding-bottom: 8px;
	border-bottom: 3px solid #D9D9D9;
}

ul#profile-link a:hover {
	color: #ACACAC;
	border-bottom: 3px solid #ACACAC;
}

/*######################################*/

#about-me {
	background-color: #34495E;
}

h3#about-name {
	padding-bottom: 5px;
	margin-right: 16px;
	border-bottom: 3px solid #E1E1E1;
}

#latest-tweets {
	margin-top: 16px;
	background-color: #16A085;
	border-radius: 6px;
	height: 100px;
	padding: 8px;
}