body {
	color: #E1E1E1;
}

section {
	height: auto;
}

h1,
section,
ul {
	padding: 0px;
	margin: 0px;
}

.section-header {
	font-size: 70px;
	margin-top: 8px;
}

/*######################################*/
#intro {
	background-color: #2F4254;
	padding: 16px 0px;
	text-align: center;
}

img#profile-image {
	margin-top: 64px;
	max-height: 350px;
}

ul#profile-link {
	margin: 64px auto;
	list-style: none;
	color: #111;
}

ul#profile-link li {
	display: inline;
	margin: 0px 16px;
}

ul#profile-link a {
	color: #D9D9D9;
	padding-bottom: 8px;
	border-bottom: 3px solid #D9D9D9;
}

ul#profile-link a:hover {
	color: #ACACAC;
	border-bottom: 3px solid #ACACAC;
}

/*######################################*/
#about-me {
	background-color: #34495E;
}

h3#about-name {
	padding-bottom: 5px;
	margin-right: 16px;
	border-bottom: 3px solid #E1E1E1;

}

#latest-tweets {
	margin-top: 16px;
	background-color: #16A085;
	border-radius: 6px;
	height: 100px;
	padding: 8px;
}

ul.tags {
	list-style: none;
	line-height: 30px;
	border: 0px;
	font-size: 12px;
}

ul.tags li {
	display: inline;
	border-radius: 5px;
	background-color: #16A085;
	padding: 5px;
	text-align: center;
	margin-right: 2px;
	color: #FFFFFF;
	border: 0px;
}

/*######################################*/
#skills {
	text-align: center;
}